{% extends 'layout.html' %}

{% block body %}
{% include 'includes/_messages.html' %}

{% from "includes/_formhelpers.html" import render_field %}

<form action="" method="POST">
    <br> <b>Start Block : </b>
    <div class="form-group">
        <div class="form-label-group">
          {{render_field(form.start_block, class_="form-control")}}
        </div>
        
      </div>
    <br> <b>Target Block : </b>
    <div class="form-group">
        
      <div class="form-label-group">
        {{render_field(form.target_block, class_="form-control")}}
      </div>
      
    </div>
    <br> <b>Amount : </b>
    <div class="form-group">
        <div class="form-label-group">
          {{render_field(form.amount, class_="form-control")}}
        </div>
        
      </div>
      <br> <b>Max Try : </b>
    <div class="form-group">
        <div class="form-label-group">
          {{render_field(form.max_try, class_="form-control")}}
        </div>
      </div>
      
    <button type="submit" class="btn btn-primary btn-block">Mine Now</button>
  </form>
  
{% endblock %}